*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #12274F;
    display: grid;
    grid-template-rows: 12% 1fr 10%;
    height: 100vh;
    overflow: hidden;
}

header{
    align-items: end;
    display: grid;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    margin-left: 5%;
}

.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    list-style-type: none;
    font-size: 20px;
}

.menu-list{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-container{
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    border-bottom: 3px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
}


main{
    display: grid;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#seta{
    position: absolute;
}

.satisfy{
    width: 34%;
}

.titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 70px;
    text-align: center;
    position: relative;
    text-align: end;
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
    position: relative;
}

button{
    background-color: #00FF75;
    border: none;
    border-radius: 50px;
    width: 250px;
    height: 85px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
}

.burguer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#burguer{
    position: absolute;
    z-index: 2;
}

#sombra{
    position: relative;
    padding-left: 40%;
    padding-top: 20%;
}

.container-footer{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.card-icon{
    background-color: #00FF75;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:#12274F;
}